{% extends "layout.html" %}
{% block title %}Contact - AIRecoSho{% endblock %}
{% block content %} 
<!-- Start Content Page -->
<section class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            Welcome to AIRecoShop's contact page. We're here to assist you with any inquiries you may have.
        </p>
        <div class="contact-info">
            <h3>Contact Information</h3><br>
            <p><strong>Email:</strong> info@airecoshop.ie</p><br>
            <p><strong>Phone:</strong> +353 1 234 5678</p><br>
            <p><strong>Address:</strong> 223 Main Street, Dublin, Ireland</p><br>
        </div>
    </div>
</section>
<!-- End Contact -->
{% endblock %}
